<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
        />
        <link
            rel="shortcut icon"
            href="/images/info-bg.png"
            type="image/x-icon"
        />
        <link
            rel="stylesheet"
            href="/css/stilus.css"
        />
        <title>API - Kérdés módosítás</title>
    </head>
    <body>
        <%- include('./nav.ejs') %>
        <div class="ujkerdes-kontener">
            <form>
                <input
                    type="hidden"
                    id="rejtett"
                    value="<%= modKerdes._id %>"
                />
                <table>
                    <tr>
                        <td><label for="targy">Tárgy:</label></td>
                        <td>
                            <select
                                id="targy"
                                name="targyak"
                            >
                                <option value="<%= modKerdes.targy %>">
                                    <%= modKerdes.targy %>
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="tipus">Típus:</label></td>
                        <td>
                            <select
                                id="tipus"
                                name="tipusok"
                            >
                                <% if (modKerdes.tipus === 'Jelölőnégyzet') { %>
                                <option
                                    value="Jelölőnégyzet"
                                    selected
                                >
                                    Jelölőnégyzet
                                </option>
                                <option value="Választógomb">
                                    Választógomb
                                </option>
                                <% } else { %>
                                <option value="Jelölőnégyzet">
                                    Jelölőnégyzet
                                </option>
                                <option
                                    value="Választógomb"
                                    selected
                                >
                                    Választógomb
                                </option>

                                <% } %>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="kerdes">Kérdés:</label></td>
                        <td>
                            <input
                                type="text"
                                id="kerdes"
                                value="<%= modKerdes.kerdes %>"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td><label for="valaszok">Válaszok:</label></td>
                        <td>
                            <textarea
                                id="valaszok"
                                rows="6"
                            >
<%= modKerdes.valaszokSor %></textarea
                            >
                        </td>
                    </tr>
                    <tr>
                        <td><label for="jovalaszok">Jó válasz(ok):</label></td>
                        <td>
                            <textarea
                                id="jovalaszok"
                                rows="4"
                            >
<%= modKerdes.joValaszokSor %></textarea
                            >
                        </td>
                    </tr>
                    <tr>
                        <td>Eredeti kép:</td>
                        <td>
                            <img
                                src="<%= modKerdes.kep %>"
                                style="width: 100px"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td><label for="kep">Kép (url):</label></td>
                        <td>
                            <input
                                type="text"
                                id="kep"
                                value="<%= modKerdes.kep %>"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td><button id="feldolgoz">Feldolgoz</button></td>
                        <td></td>
                    </tr>
                </table>
            </form>
        </div>
        <script src="/js/menu.js"></script>
        <script src="/js/modKerdes.js"></script>
    </body>
</html>
